.details-projet {
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.project-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
}

.technos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.techno-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}