<div class="details-projet-page">
  <div class="project-header">
    <img
      [src]="'assets/imgs/' + project?.imageUrl"
      [alt]="project?.title"
      class="project-image"
    />

    <div class="project-info">
      <h2 class="project-title">{{ project?.title }}</h2>
      <div class="project-meta">
        {{ project?.date }} – {{ project?.company }}
      </div>

      <div>
        <p class="project-description">
          {{ project?.description }}
        </p>
      </div>

      <div>
        <h4>Technologies utilisées :</h4>
        <div class="technos">
          @for (techno of project?.technologies; track $index) {
          <div class="techno-item">
            <img
              [ngSrc]="'assets/icons/' + techno.logo"
              [width]="32"
              [height]="32"
              [alt]="techno.name + ' logo'"
              class="techno-logo"
            />
            <span class="icon-name">{{ techno.name }}</span>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div>
    <h4>Compétences techniques :</h4>
    <div class="competences">
      @for (comp of project?.competencesTechniques; track $index) {
      <span class="competence">
        {{ comp }}
      </span>
      }
    </div>

    <h4>Compétences transverses :</h4>
    <div class="competences">
      @for (comp of project?.competencesTransverses; track $index) {
      <span class="competence">
        {{ comp }}
      </span>
      }
    </div>
  </div>

  <div class="project-links">
    @if (project?.liveUrl) {
    <a [href]="project?.liveUrl">Voir en ligne</a>
    } @if (project?.sourceUrl) {
    <a [href]="project?.sourceUrl">Code source</a>
    }
  </div>
</div>
